<form asp-action="GradeBook" method="get">
    <div class="row g-3">
        <div class="col-md-4">
            <label>Lớp học</label>
            <select name="classId" class="form-select" required>
                <option value="">-- Chọn lớp --</option>
                @foreach (var c in ViewBag.ListClasses)
                {
                    <option value="@c.Value">@c.Text</option>
                }
            </select>
        </div>
        <div class="col-md-4">
            <label>Môn học</label>
            <select name="subjectId" class="form-select" required>
                <option value="">-- Chọn môn --</option>
                @foreach (var s in ViewBag.ListSubjects)
                {
                    <option value="@s.Value">@s.Text</option>
                }
            </select>
        </div>
        <div class="col-md-4 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Xem / Nhập điểm</button>
        </div>
    </div>
</form>